<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544359038853-8k7r3a9629u7i5tvbiaifasvpfuc5m5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544359038853-8k7r3a9629u7i5tvbiaifasvpfuc5m5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCjZY95BigsxiSSfTN9rbI7QBRbsePbmgI</string>
	<key>GCM_SENDER_ID</key>
	<string>544359038853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zidjesvudnemaskud.LearnWithMe</string>
	<key>PROJECT_ID</key>
	<string>learnwithme-24102</string>
	<key>STORAGE_BUCKET</key>
	<string>learnwithme-24102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544359038853:ios:677fc3b7fc1d889e344eec</string>
</dict>
</plist>